@import '@fontsource/fira-mono';

:root {
    --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    --color-bg-0: rgb(202, 216, 228);
    --color-bg-1: hsl(209, 36%, 86%);
    --color-bg-2: hsl(224, 44%, 95%);
    --color-theme-1: #ff3e00;
    --color-theme-2: #4075a6;
    --color-text: rgba(0, 0, 0, 0.7);
    --column-width: 42rem;
    --column-margin-top: 4rem;
    font-family: var(--font-body);
    color: var(--color-text);
}

body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--color-bg-1);
    background-size: 100vw 100vh;
    background-image: radial-gradient(
            50% 50% at 50% 50%,
            rgba(255, 255, 255, 0.75) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

a {
    color: var(--color-theme-1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

pre {
    font-size: 16px;
    font-family: var(--font-mono);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
    padding: 0.5em;
    overflow-x: auto;
    color: var(--color-text);
}

.text-column {
    display: flex;
    max-width: 48rem;
    flex: 0.6;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 2rem;
    margin: 0 auto;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}

@media (min-width: 720px) {
    h1 {
        font-size: 2.4rem;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}


/* BUTTON NORMAL */
.custom_button1 {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000000;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #000000;
    font-weight: bold;
}

.custom_button1:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #000000;
    transform: scale(1.1);
}

.custom_button1:active {
    transform: scale(0.9);
}


/* BUTTON GEMS */
.custom_button_gems {
    position: relative;
    display: inline-block;
    margin: 4px;
    padding: 12px 16px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    /* box-shadow: inset 0 0 0 0 #4CAF50; */
    background-color: #4CAF50;
    font-weight: bold;
}

.custom_button_gems:hover {
    color: black;
    box-shadow: inset 0 -100px 0 0 #4FD054;
    transform: scale(1.1);
}

.custom_button_gems:active {
    transform: scale(0.9);
}

/* BUTTON COINS */
.custom_button_coins {
    position: relative;
    display: inline-block;
    margin: 4px;
    padding: 12px 16px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #CCAC00;
    border-radius: 10px;
    /* box-shadow: inset 0 0 0 0 #CCAC00; */
    background-color: #CCAC00;
    font-weight: bold;
}

.custom_button_coins:hover {
    color: black;
    box-shadow: inset 0 -100px 0 0 #F1CB00;
    transform: scale(1.1);
}

.custom_button_coins:active {
    transform: scale(0.9);
}

.dropbox {
    padding:1.5rem; 
    border-radius:10px; 
    border: rgba(166, 185, 190, 0.5);
    border-width: thick;
    border-style: ridge;
    background: rgba(166, 185, 190, 0.5);
    box-shadow: 
        0 10px 24px hsla(0, 0%, 0%, 0.1),
        0 20px 48px hsla(0, 0%, 0%, 0.1),
        0 1px 4px hsla(0, 0%, 0%, 0.1),
        0px 0px 24px 10px hsl(0, 0%, 10%),
        0px 0px 16px 2px hsl(0, 0%, 25%),
        0px 0px 4px 1px hsl(0, 0%, 50%);
}

.formInput {
    display: flex;
    justify-content: center;
}


/* CSS TESTS FOR FROMS */
.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    min-height: 500px !important;
    padding: 20px;
    width: 500px !important;  /* 320px; */
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    position: relative;
    padding-bottom: 12px;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    /* margin-top: 30px; */
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    height: 50px !important;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px !important;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px !important;
    min-width: 7.25em;  /* dodane */
    display: none;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    display: block;
}

.input:focus ~ .input-container,
.input:not(:placeholder-shown) ~ .input-container {
    padding-bottom: 24px;
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    /* // outline: 0; */
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}

.svelte-use-form-hint {
    color: #dc2f55;
}